
.curved {
  position: relative;
  background: #f4e4ca;
  height: 36vh;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}
.fo{
  color: #c69d89;
}
.fod{
  color: #8c8784;
}
#main {
    font-family: Consolas, sans-serif;
    /* background: linear-gradient(50deg, #8e9775 10%, #e28e83 70%); */
    height: 100vh;
    text-align: center;
  
  }
  .img {
    padding: 10px;
    transition: transform .2s;
    height: 270px;
    width: 370px;
    margin: 0 auto;
    border-radius: 50px 30px; 

  }
  
  .img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.1); 
  }

 .text{
padding: 40px;
 }
.btn {
  margin: 20px;
  background: #cfafa2;
  background-image: linear-gradient(to bottom, #cfafa2, #c28d6e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 50px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 46px;
  padding: 8px 8px 6px 13px;
  text-decoration: none;
}

.btn:hover {
  background: #c28d6e;
 
  background-image: linear-gradient(to bottom, #c28d6e, #e1aa8b);
  text-decoration: none;
}